annotated-types
anyio
asgiref
certifi
charset-normalizer
colorama
crispy-bootstrap4
distro
Django
django-crispy-forms
djangorestframework
h11
httpcore
httpx
idna
jiter
pillow
pip
pydantic
pydantic_core
python-dotenv
python-http-client
pytz
requests
sniffio
sqlparse
starkbank-ecdsa
tqdm
typing_extensions
tzdata
urllib3
